<h3>Recent visits</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Request id</th>
      <th>Visitor id</th>
      <th>Visited at</th>
      <th>Page path</th>
    </tr>
  </thead>
  <tbody>
    <% @recent_visits.each do |visit| %>
      <tr>
        <td><%= visit.id %></td>
        <td><%= link_to visit.visitor.id, visitor_path(visit.visitor) %></td>
        <td><%= visit.visited_at %></td>
        <td><%= visit.page_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
