name: CI

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
  schedule:
    - cron:  '0 1 * * *'

jobs:
  v2_4-non-rails-coditsu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Run Coditsu
        run: |
          cd v2.4-non-rails
          rm -rf ../.git
          git init ./
          git config --global user.email "maciej@mensfeld.pl"
          git config --global user.name "maciej@mensfeld.pl"
          git add ./
          git commit -m "CI run"
          \curl -sSL https://api.coditsu.io/run/ci | bash

  v2_4-non-rails-specs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '4.0'
          - '3.4'
          - '3.3'
          - '3.2'
        include:
          - ruby: '4.0'
            coverage: 'true'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install package dependencies
        run: "[ -e $APT_DEPS ] || sudo apt-get install -y --no-install-recommends $APT_DEPS"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler: 'latest'
      - name: Install latest bundler
        run: |
          cd v2.4-non-rails

          gem install bundler --no-document

          bundle config set without 'tools benchmarks docs'
      - name: Bundle install
        run: |
          cd v2.4-non-rails
          # For Ruby 4.0, use local gem path to avoid permission issues with default gems
          if [ "${{ matrix.ruby }}" = "4.0" ]; then
            bundle config set path vendor/bundle
          fi
          bundle config set without development
          bundle install --jobs 4 --retry 3
      - name: Run all tests
        env:
          GITHUB_COVERAGE: ${{matrix.coverage}}
        run: |
          cd v2.4-non-rails
          bundle exec rspec

  v2_4-rails-coditsu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Run Coditsu
        run: |
          cd v2.4-rails
          rm -rf ../.git
          git init ./
          git config --global user.email "maciej@mensfeld.pl"
          git config --global user.name "maciej@mensfeld.pl"
          git add ./
          git commit -m "CI run"
          \curl -sSL https://api.coditsu.io/run/ci | bash

  v2_4-rails-specs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '4.0'
          - '3.4'
          - '3.3'
          - '3.2'
        include:
          - ruby: '4.0'
            coverage: 'true'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install package dependencies
        run: "[ -e $APT_DEPS ] || sudo apt-get install -y --no-install-recommends $APT_DEPS"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler: 'latest'
      - name: Install latest bundler
        run: |
          cd v2.4-rails
          gem install bundler --no-document

          bundle config set without 'tools benchmarks docs'
      - name: Bundle install
        run: |
          cd v2.4-rails
          # For Ruby 4.0, use local gem path to avoid permission issues with default gems
          if [ "${{ matrix.ruby }}" = "4.0" ]; then
            bundle config set path vendor/bundle
          fi
          bundle config set without development
          bundle install --jobs 4 --retry 3
      - name: Setup db
        run: |
          cd v2.4-rails
          bundle exec rake db:create
          bundle exec rake db:test:prepare
      - name: Run all tests
        env:
          GITHUB_COVERAGE: ${{matrix.coverage}}
        run: |
          cd v2.4-rails
          bundle exec rspec
