name: ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
  schedule:
    - cron:  '0 1 * * *'

jobs:
  v2_2-non-rails-diffend:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Install latest bundler
        run: |
          cd v2.2-non-rails
          gem install bundler --no-document
      - name: Install Diffend plugin
        run: |
          cd v2.2-non-rails
          bundle plugin install diffend
      - name: Bundle Secure
        run: |
          cd v2.2-non-rails
          bundle secure

  v2_2-non-rails-coditsu:
    runs-on: ubuntu-latest
    needs: v2_2-non-rails-diffend
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Coditsu
        run: |
          cd v2.2-non-rails
          rm -rf ../.git
          git init ./
          git config --global user.email "maciej@mensfeld.pl"
          git config --global user.name "maciej@mensfeld.pl"
          git add ./
          git commit -m "CI run"
          \curl -sSL https://api.coditsu.io/run/ci | bash

  v2_2-non-rails-specs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.3.0-rc1'
          - '3.2'
          - '3.1'
          - '3.0'
          - '2.7'
        include:
          - ruby: '3.2'
            coverage: 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Install package dependencies
        run: "[ -e $APT_DEPS ] || sudo apt-get install -y --no-install-recommends $APT_DEPS"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler: 'latest'
      - name: Install latest bundler
        run: |
          cd v2.2-non-rails

          if [[ "$(ruby -v | awk '{print $2}')" == 2.7.8* ]]; then
            gem install bundler -v 2.4.22 --no-document
            bundle config set version 2.4.22
            gem update --system 3.4.22 --no-document
          else
            gem install bundler --no-document
          fi

          bundle config set without 'tools benchmarks docs'
      - name: Bundle install
        run: |
          cd v2.2-non-rails
          bundle config set without development
          bundle install --jobs 4 --retry 3
      - name: Run all tests
        env:
          GITHUB_COVERAGE: ${{matrix.coverage}}
        run: |
          cd v2.2-non-rails
          bundle exec rspec

  v2_2-rails-diffend:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Install latest bundler
        run: |
          cd v2.2-rails
          gem install bundler --no-document
      - name: Install Diffend plugin
        run: |
          cd v2.2-rails
          bundle plugin install diffend
      - name: Bundle Secure
        run: |
          cd v2.2-rails
          bundle secure

  v2_2-rails-coditsu:
    runs-on: ubuntu-latest
    needs: v2_2-rails-diffend
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Coditsu
        run: |
          cd v2.2-rails
          rm -rf ../.git
          git init ./
          git config --global user.email "maciej@mensfeld.pl"
          git config --global user.name "maciej@mensfeld.pl"
          git add ./
          git commit -m "CI run"
          \curl -sSL https://api.coditsu.io/run/ci | bash

  v2_2-rails-specs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.3.0-rc1'
          - '3.2'
          - '3.1'
          - '3.0'
          - '2.7'
        include:
          - ruby: '3.2'
            coverage: 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Install package dependencies
        run: "[ -e $APT_DEPS ] || sudo apt-get install -y --no-install-recommends $APT_DEPS"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler: 'latest'
      - name: Install latest bundler
        run: |
          cd v2.2-rails

          if [[ "$(ruby -v | awk '{print $2}')" == 2.7.8* ]]; then
            gem install bundler -v 2.4.22 --no-document
            bundle config set version 2.4.22
            gem update --system 3.4.22 --no-document
          else
            gem install bundler --no-document
          fi

          bundle config set without 'tools benchmarks docs'
      - name: Bundle install
        run: |
          cd v2.2-rails
          bundle config set without development
          bundle install --jobs 4 --retry 3
      - name: Setup db
        run: |
          cd v2.2-rails
          bundle exec rake db:create
          bundle exec rake db:test:prepare
      - name: Run all tests
        env:
          GITHUB_COVERAGE: ${{matrix.coverage}}
        run: |
          cd v2.2-rails
          bundle exec rspec
